html {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
	max-width: 800px;
	margin: 0 auto;
	padding: 1rem;
	background-color: #f9f9f9;
}

h1 {
	text-align: center;
}

p {
	font-size: 1.1rem;
	overflow-wrap: break-word;
}

pre {
	overflow: scroll;
	padding: 1rem;
	background-color: #d9d9d9;
	border-radius: 0 1rem 1rem 0;
}

code {
	font-size: 1rem;
	overflow-wrap: break-word;
}

.header-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.nav-index ul {
	list-style-type: none;
}

.nav-index ul li {
	display: table;
	line-height: 2rem;
	border-bottom: 1px solid gray;
}

.nav-index ul li a {
	color: blue;
	text-decoration: none;
}
